* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.sams-intro{
  width:50%;
  margin: 2rem 25%;
}

.contact-container {
  background: #f2f2f2;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 100%;
  max-width: 600px;
  overflow: hidden;
}

.contact-form h2 {
  text-align: center;
  padding: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.form {
  margin-bottom: 15px;
}

.input-field {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 50px;
  font-size: 16px;
  outline: #000000;
  transition: border-color 0.3s ease;
}

.input-field:focus {
  border-color: #black;
}

.message-field {
  height: 100px;
  resize: vertical;
  border-radius: 20px;
}

.submit-button {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0056b3;
}
