*{
background-color: rgb(222, 215, 206);
background: cover;
font-family: "Neucha", cursive;
}

body, html{
  margin: 0;
  padding: 0;
}

main{
  margin: 0;
  padding: 0;
}

.neucha-regular {
  font-family: "Neucha", cursive;
  font-weight: 500;
  font-style: normal;
}

header{
  height: 100%; 
  width:100%;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-family:"Neucha", cursive, 'Courier New', Courier, monospace;
  font-size: larger;
}

.center{
  text-align: center;
  width: 25%;
}

.left-header, .right-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  gap:20%;
  flex: 1;
}

.left-header button, .right-header button{
  font-family:"Neucha", cursive, 'Courier New', Courier, monospace;
  justify-content:space-between;
  font-size: larger;
  background-color: transparent;
  border: none;
  cursor: pointer;
}


.vid{
  max-width: 70%;
  margin: 2% 15%;
  
}

footer{
  margin: 0;
  padding: 0 15%;
  border-top: 1px solid rgb(208, 191, 168);
  font-size:larger;
  font-family:"Neucha", cursive, 'Courier New', Courier, monospace;
}

.location{
  display: flex;
  float: inline-start;
}
.socials{
  display: flex;
  float: inline-end;
  padding: 1%;
}

.sams-intro-h1{
  font-size: larger;
  margin: 2rem 25%;
}

.sams-intro{
  width:50%;
  margin: 2rem 25%;
}

@media only screen and (max-width: 600px){

}
  
