.main-content {
  display: flex;
  justify-content: flex-start;  /* Keeps the elements aligned to the left */
  padding-left: 20%;  /* Adjust this value to shift the scroll menu more to the right */
}

.scroll-container {
            display: inline-block;
            width: 100%;
            overflow-x: auto;
            white-space: nowrap;
            border: 1px solid #ccc;
        }
.scroll-item {
            width: 30%;
            height: 30%;
            background-color: #f0f0f0;
            margin-right:10px;
        }
